<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <script src="{% static 'js/scripts.js'%}"></script>
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>{% block title%} {% endblock %}</title>
    <style>
      {% block css %} {% endblock %}
    </style>
  </head>
  <body>
    <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="/shop">My Awesome Cart</a>
          <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/shop/about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="/shop/contact">contact</a></li>
                  <li class="nav-item"><a class="nav-link" href="/shop/tracker">tracker</a></li>
              </ul>
              <form method="get" action="/shop/search/" class="d-flex form-inline my-2 my-lg-0">
                  <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search" 
                  name="search"
                  id="search"/>
                  <button class="btn btn-outline-dark" type="submit">
                      <!-- <i class="bi-cart-fill me-1"></i> -->
                      Search
                      <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
                  </button>
              </form>
              <form class="d-flex">
                  <button class="btn btn-outline-dark mx-3" type="button" id="popoverButton"data-html="true">
                      <i class="bi-cart-fill me-1"></i>
                      MyCart
                      <span id="cart" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                  </button>
              </form>
          </div>
      </div>
  </nav>
  </body>

    {% block body %} {% endblock %} 
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; My Awesome Cart 2023</p></div>
</footer>   
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
<script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% block js %} {% endblock %}
<script>
if (localStorage.getItem("cart") == null) {
  var cart = {};
  } else {
  cart = JSON.parse(localStorage.getItem("cart"));
  document.getElementById("cart").innerHTML = Object.keys(cart).length;
}
    //jQuery starts here//
$(".cart").click(function () {
  var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
    cart[idstr][0] = cart[idstr][0] + 1;
    }
    else {
    cart[idstr][0]= [1];
    }
updateCart(cart);
localStorage.setItem("cart", JSON.stringify(cart));
});
//popover logic
//update cart functon using addto cart button


</script>
</html>
