{% extends 'shop/basic.html' %}
{% block title%} payment - My Awesome Cart{% endblock %}
{% block body %}
<div class="col my-4">
    <h2> 
      Check Your Items In cart and Place Order </h2>
    <div class="my-4">
        <ul class="list-group" id="items">
        </ul>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum = 0;
for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    sum = sum + qty;
    mystr =  `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${name}
                <span class="badge badge-primary badge-pill">${qty}</span>
            </li> `
    $('#items').append(mystr);
}

{% endblock %}