{% extends 'shop/basic.html' %}
{% block css %}
<style>
  .no-item-found {
    text-align: center;
    margin-top: 4em;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .no-item-found h1 {
  color: #e44d26; /* or any color you prefer */
}

.no-item-found b {
  font-size: 1.2em;
  color: #333;
}

.no-item-found ul {
  list-style-type: none;
  padding: 0;
}

.no-item-found li {
  margin-bottom: 0.5em;
  color: #555;
}
.col-md-3
{
  display: inline-block;
  margin-left:-4px;
}

.carousel-indicators .active {
  background-color: blue;
}

.col-md-3 img{
  
  width: 170px;
  height: 200px;
}

body .carousel-indicator li{
  background-color: blue;
}

body .carousel-indicators{
  bottom: 0;
}

body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

.carousel-control-prev,
.carousel-control-next{ 
top: auto; 
bottom: auto; 
padding-top: 222px; 
} 
body .no-padding {
  padding-left: 0;
  padding-right: 0;
}

          </style>
 {% endblock %}
 {% block title%}My Awesome cart {% endblock %}
{% block body %}
{% load static %}
<div class="container">
    {% for Product, range, nSlides in allProds %}
    <h2 class="flash-sale-heading">Flash Sale On {{ Product.0.sub_category }} Recommended Items</h2>
    <div class="row">
        {% for prod in Product %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ prod.image.url }}" alt="{{ prod.product_name }}">
                <div class="card-body">
                  <b><span class="text-muted" id="pricepr{{ prod.id }}">${{ prod.price }}</span></b>
                  <small class="text-muted text-decoration-line-through"> $ {{ prod.MRP }}</small>
                  <!-- <p>{{ product.MRP }}</p> -->
                    <h5 class="card-title" id="namepr{{ prod.id }}">{{ prod.product_name|slice:"0:20" }}..</h5>
                    <p class="card-text">{{ prod.desc|slice:"0:25" }}...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="/shop/products/{{ prod.id }}" class="btn btn-sm btn-outline-dark mx-2">View</a>
                            <span id="divpr{{ prod.id }}" class="divpr">
                                <button id="pr{{ prod.id }}" class="btn btn-sm btn-outline-dark cart">Add to Cart</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% endfor %}
    {% if allProds %}
    {# No items found message will be skipped if there are items #}
{% else %}
    <div class="mb-4 no-item-found">
        <h1>No items found</h1>
        Your search query: <b>{{ query }}</b> did not match any documents. <br>
        Suggestions:
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
            <li>Try different keywords.</li>
        </ul>
    </div>
{% endif %}
</div>

 {% endblock %}

{% block js %}
<script>
// find out the cart items from localstorage
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
updateCart(cart);
}
// If the add to cart button is clicked, add/increment the item
//$('.cart').click(function() {
  $('.divpr').on('click', 'button.cart', function() {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
        
    } else {
        qty = 1;
        name = document.getElementById('name'+idstr).innerHTML;
        price = document.getElementById('price'+idstr).innerHTML;
        cart[idstr] = [qty, name , parseInt(price)];

    }
    updateCart(cart);
});
//localStorage.setItem('cart', JSON.stringify(cart));
//document.getElementById('cart').innerHTML = Object.keys(cart).length;
updatePopover(cart);
function updatePopover(cart)
  {  var popStr = "";
      popStr = popStr + "<h5> Cart for your items in my shopping cart</h5><div class='mx-2 my-2'>";
      var i = 1;
      for (var item in cart){
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i+1;
       }
       popStr = popStr + "</div> <a href='/shop/Checkout'><button class='btn btn-sm btn-outline-dark my-15 mx-2' id ='checkout'>Checkout</button></a> <button class='btn btn-sm btn-outline-dark my-15 mx-2' onclick='clearCart()' id ='clearCart'>Clear Cart</button> "
       document.getElementById('popoverButton').setAttribute('data-content', popStr);
    var popover = new bootstrap.Popover(document.getElementById('popoverButton'), {
    title: 'MyCart',
    content: 'Cart for your items in my shopping cart',
    //trigger: 'hover', // Show popover on hover
    placement: "bottom"
    });
}
function updateCart(cart) {
  var sum = 0;
  for (var item in cart) {
      sum = sum + cart[item][0];
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-sm btn-outline-dark minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-sm btn-outline-dark plus'> + </button>";
  }
  localStorage.setItem('cart', JSON.stringify(cart));
  document.getElementById('cart').innerHTML = sum;
  //console.log(cart);
  updatePopover(cart);
}

function clearCart() {
  cart = JSON.parse(localStorage.getItem('cart'));
  for (var item in cart) {
    document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-sm btn-outline-dark cart">Add To Cart</button>'
  }
  localStorage.clear();
  cart = {};
  updateCart(cart);
}

// If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
  a = this.id.slice(7, );
  cart['pr' + a][0] = cart['pr' + a][0] - 1;
  cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
  //document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
  if(cart['pr'+a][0]==0){
      document.getElementById('divpr'+a).innerHTML='<button id="pr{{i.id}}" class="btn btn btn-sm btn-outline-dark cart">Add To Cart</button>'
      delete cart['pr'+a];
  }
  else{
    document.getElementById('valpr'+a).innerHTML=cart['pr'+a][0]
  }
  updateCart(cart);
 
});
$('.divpr').on("click", "button.plus", function() {
  a = this.id.slice(6, );
  cart['pr' + a][0] = cart['pr' + a][0] + 1;
  document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
  updateCart(cart); 
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
