<div class="card-body p-4">
    <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"  id="namepr{{ prod.id }}">{{ prod.product_name }}</h5>
        <!-- Product reviews-->
        <div class="d-flex justify-content-center small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
        </div>
        <!-- Product price-->
        <span class="text-muted text-decoration-line-through" id="pricepr{{ prod.id }}">${{ prod.price }}</span>
        <small class="text-muted text-decoration-line-through">$20.00</small>
    </div>
</div>